
    html {
      box-sizing: border-box;
      background:url('http://wes.io/hx9M/oh-la-la.jpg') center no-repeat;
      background-size:cover;
      height: 100vh;
      text-align: center;
      font-family: Futura,"Trebuchet MS",Arial,sans-serif;
      font-size: 25px;

    }
    *, *:before, *:after {
      box-sizing: inherit;
    }

    svg {
      fill:white;
      background: rgba(0,0,0,0.1);
      margin-top: 20px;
      border-radius: 50%;
      width:200px;
      margin-bottom: 50px;
    }

    .wrapper {
      padding: 20px;
      width: 550px;

      background: rgba(255,255,255,0.95);
      box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;

    }

    h2 {
      margin: 0;
      font-weight: 200;
      text-align: center;
        width: 100%;

    }

    .plates {
        list-style: none;
        width: 100%;
        text-align: left;
    }

    .plates li {
      border-bottom: 1px solid rgba(0,0,0,0.2);
      padding: 10px 0;
      font-weight: 100;

    }
    .plates input {
      display: none;
    }

    .plates input + label:before {
      content: '⬜️';
      margin-right: 10px;
    }

    .plates input:checked + label:before {
      content: '💩';
    }

    .add-items {
        margin-bottom: 10px;

    }

    .add-items input {
      padding:10px;
      outline:0;
      border:1px solid rgba(0,0,0,0.1);
      font-size: 20px;
    }
    .buttons{
        width: 100%;
        display: flex;
        justify-content: space-around;

    }
    .button{
      margin: 10px 0;
      border: 2px solid #6a6a6a;
      padding: 15px ;
      font: normal 10px Verdana;
      text-transform: uppercase;
      color: #6a6a6a;
      border-radius: 2px;
      background-color: #ffffff;
      -webkit-transition:border .25s linear, color .25s linear,background-color .25s linear;
    transition:border .25s linear, color .25s linear,background-color .25s linear;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    }
    .button:hover{
      color: #fff;
      background-color: #6a6a6a;
      border: 2px solid #6a6a6a;
    }
    .button:active{
      color: #fff;
      background-color: #6a6a6a;
      border: 2px solid #6a6a6a;
    }
    @media all and (max-width:640px) {

        .wrapper{
           width: 100%;
        }

        svg{
            width: 50%;
        }
        .add-items input {
          width: 100%;
          font-size: 15px;
        }
        .buttons{
          flex-direction: column;
        }
        .button{
          margin: 2px;
        }
    }
